@model ProductModel

<h1>Add new Product</h1>

<form method="post" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name">Item name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Item description</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-check">
        <input asp-for="IsVisible" class="form-check-input" />
        <label asp-for="IsVisible" class="form-check-label">Item Visible?</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add new item" />
    </div>
</form>